<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name>${projectName}</display-name>
  <absolute-ordering>
    <name>core</name>
  </absolute-ordering>
  
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.jsf</url-pattern>
  </servlet-mapping>
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Production</param-value>
	</context-param>
  
  <listener>
    <listener-class>com.aplos.${artifactId}.module.ContextListener</listener-class>
  </listener>
  
  <context-param>
    <param-name>autoLogin</param-name>
    <param-value>0</param-value>
  </context-param>
  <context-param>
    <param-name>autoLoginUsername</param-name>
    <param-value>super</param-value>
  </context-param>
  <context-param>
    <param-name>autoLoginPassword</param-name>
    <param-value>aplosSuper01</param-value>
  </context-param>
  <context-param>
    <param-name>debugMode</param-name>
    <param-value>0</param-value>
  </context-param>
  <context-param>
    <param-name>pageAccessChecked</param-name>
    <param-value>1</param-value>
  </context-param>
  <context-param>
    <param-name>serverUrl</param-name>
    <param-value>http://www.${artifactId}.co.uk/</param-value>
  </context-param>
  <session-config>
    <session-timeout>60</session-timeout>
    <tracking-mode>COOKIE</tracking-mode>
  </session-config>
</web-app>